@import 'tailwindcss';
@plugin './hero.mts';
@config '../../tailwind.config.mjs';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'Switzer-Variable';
  src:
    url('/fonts/Switzer-Variable.woff2') format('woff2'),
    url('/fonts/Switzer-Variable.woff') format('woff'),
    url('/fonts/Switzer-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@theme {
  --font-display: 'Switzer-Variable', sans-serif;
  --font-sans: 'Switzer-Variable', sans-serif;
}

::selection {
  background: hsl(var(--heroui-primary));
  color: white;
}

button,
[role='button'] {
  cursor: pointer;
}

@utility container {
  @apply mx-auto max-w-7xl px-6 sm:px-6 lg:px-10;
}
